<odoo>
    <menuitem id="menu_hospital_root" name="Hospital Training" sequence="10" groups="base.group_user"/>
    <menuitem id="menu_hospital_operations" name="Operations" parent="menu_hospital_root" sequence="10"/>
    <menuitem id="menu_hospital_configuration" name="Configuration" parent="menu_hospital_root" sequence="80" groups="om_hospital_training.group_hospital_manager"/>
    <menuitem id="menu_hospital_reports" name="Reporting" parent="menu_hospital_root" sequence="90"/>
    <menuitem id="menu_hospital_demo" name="Architecture Demos" parent="menu_hospital_root" sequence="95" groups="om_hospital_training.group_hospital_manager"/>
</odoo>
